# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Database (only if using SQLite)
db.sqlite3

# OS files
.DS_Store
Thumbs.db